<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
	<script>
var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('depop-summary.pdf');
});
	</script>
</head>
<body>



	<table>
		<thead>
		<tr>
			<th>Price</th>
			<th>Image</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
			{% for row in output_data %}
				<tr>
					<td>{{row[0]}}</td>
					<td><img src = {{row[1]}} style='width:200px;height:200px;'></td>
					<td>{{row[2]}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>